<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>ATHC| COMING SOON </title>

  <link rel="stylesheet" href="../static/css/output.css" />
  <link rel="stylesheet" href="../static/css/blog-style.css">
</head>

<body class="overflow-x-hidden">

  <!-- this div is used to store classes that will be injected by javascript
  so they can be bundled into production -->
  <div class="hidden top-[48px]"></div>

  <header>

    <nav class="flex justify-between items-center w-[92%] mx-auto bg-white">
      <div>
        <a href="/">
            <img class="w-[133px] hidden md:inline pb-3" src="../static/img/icons/site-logo.svg" alt="">
        </a>
        <img class=" inline md:hidden m-3" data-state="closed" src="../static/img/icons/menu-open.svg"
          alt="menu toggler" id="nav-toggler">
      </div>

      <div id="nav-link"
        class="absolute md:static bg-white py-9 md:py-0 left-0 top-[-120%] w-full md:w-auto h-screen md:h-min ">
        <ul class="inline-flex flex-col md:flex-row items-center gap-9  font-poppins w-full md:w-auto md:mr-[93px]">
          <li>
            <a href="./index.html" class="text-base font-medium">HOME</a>
          </li>
          <li>
            <a href="./about.html" class="text-base font-medium">ABOUT</a>
          </li>
          <li>
            <a href="./services.html" class="text-base font-medium">SERVICE</a>
          </li>
          <li>
            <a href="./blog.html" class="text-base font-medium">BLOG</a>
          </li>
        </ul>

        <a href="./comming_soon.html" class="md:btn-primary w-full md:w-auto md:inline font-poppins mt-9 md:mt-0">INVEST</a>

      </div>

    </nav>

    <div class="flex justify-center md:hidden mb-8">
      <img src="../static/img/icons/site-logo.svg" alt="">
    </div>

  </header>
  <script src="../static/js/navBarToggler.js"></script>


  <section id="section-1" class="h-[434px] md:h-[835px] object-center bg-cover bg-no-repeat blog-heading-image-mobile md:blog-heading-image " >
    <div class="w-full h-full flex flex-col items-center justify-center ">
        <h1 class="text-center text-white font-poppins font-semibold text-5xl md:text-9xl ">OUR BLOG</h1>

        <a href="#" class="md:hidden">
          <img src="../static/img/icons/whatsapp-mobile-icon.png" width="81px" height="33px" alt="">
        </a>

    </div>
    
  </section>

  <section class="mt-[52px] md:mt-[130px] mb-[71px] md:mb-[127px] w-[92%] mx-auto ">
    <h2 class="text-center text-2xl md:text-5xl font-poppins">Learn the real estate game</h2>

    <form class="flex justify-center mt-[5px] md:mt-[60px]" action="">
      <div class="rounded-[10px] md:rounded-[20px] w-[625px] max-w-full h-[30px] md:h-[55px] shadow-[0px_0px_5.02283px_1.00457px_rgba(0,0,0,0.25)] md:shadow-[0px_0px_10px_2px_rgba(0,0,0,0.25)] flex items-center px-[29px] md:px-[14.57px]">
        <svg class="w-[12.05px] h-[12.05px] md:w-[24px] md:h-[24px]" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M15.5 14H14.71L14.43 13.73C15.4439 12.554 16.0011 11.0527 16 9.5C16 8.21442 15.6188 6.95772 14.9046 5.8888C14.1903 4.81988 13.1752 3.98676 11.9874 3.49479C10.7997 3.00282 9.49279 2.87409 8.23192 3.1249C6.97104 3.3757 5.81285 3.99477 4.90381 4.90381C3.99477 5.81285 3.3757 6.97104 3.1249 8.23192C2.87409 9.49279 3.00282 10.7997 3.49479 11.9874C3.98676 13.1752 4.81988 14.1903 5.8888 14.9046C6.95772 15.6188 8.21442 16 9.5 16C11.11 16 12.59 15.41 13.73 14.43L14 14.71V15.5L19 20.49L20.49 19L15.5 14ZM9.5 14C7.01 14 5 11.99 5 9.5C5 7.01 7.01 5 9.5 5C11.99 5 14 7.01 14 9.5C14 11.99 11.99 14 9.5 14Z" fill="#222222"/>
        </svg>          
        <input class="px-[6.79px] md:px-[13.5px] focus:outline-none flex-1" type="search" placeholder="search for a preferred topic">
      </div>
    </form>
  </section>

  <section class="blog-content max-w-[1064px] mx-auto px-4">

    <img class="w-full h-[299px] md:h-[680px] object-cover rounded-2xl md:rounded-[20px]" src="../static/img/image 27.png" alt="">

    <h1 class="mt-8 md:mt-11 mb-5 md:mb-11 text-2xl md:text-3xl leading-8 md:leading-10 font-semibold">Why should i invest in real estate?”</h1>

    <p class="text-xl md:text-2xl leading-[25px] md:leading-[30px] mb-20">
        Real estate has been one of the most, secure and winning investment platform all over the world, and Nigeria is not exclusive.
        Nevertheless most people do not know why they should  invest in real estate, they do not know the importance and risk and all it entails-real estate has been one of the most, secure and winning investment platform all over the world, and Nigeria is not exclusive. Nevertheless most people do not know why they should  invest in real estate, they do not know the importance and risk and all it entailsReal estate has been one of the most, secure and winning investment platform all over the world, and Nigeria is not exclusive. Nevertheless most people do not know why they should  invest in real estate, they do not know the importance and risk and all it entails
    </p>
        
        
    <p class="text-xl md:text-2xl leading-[25px] md:leading-[30px] mb-20">
        Real estate has been one of the most, secure and winning investment platform all over the world, and Nigeria is not exclusive. Nevertheless most people do not know why they should  invest in real estate, they do not know the importance and risk and all it entails
    </p>
        
    <p class="text-xl md:text-2xl leading-[25px] md:leading-[30px] mb-20">
        Real estate has been one of the most, secure and winning investment platform all over the world, and Nigeria is not exclusive. Nevertheless most people do not know why they should  invest in real estate, they do not know the importance and risk and all it entails-real estate has been one of the most, secure and winning investment platform all over the world, and Nigeria is not exclusive. Nevertheless most people do not know why they should  invest in real estate, they do not know the importance and risk and all it entails 
    </p>

    <a class="article-link block text-center md:text-start text-2xl mb-[163px] md:mb-[214px]" href="./blog.html">Go Back</a>
  </section>

  

</body>

</html>