{% extends 'default_routes/layout.html' %}  

{% block head %}
  <title >ATHC | Coming Soon</title>
{% endblock %}

{% block body %}
  <section id="section-1" class="h-[514px] md:h-[834px] bg-center bg-cover bg-no-repeat" style="background-image: linear-gradient(rgba(57,51,51,0.1), rgba(57,51,51,0.1)), url(/static/img/coming-soon-hero.png);">
    <div class="w-full h-full flex flex-col items-center justify-center ">
        <h1 class="text-center text-white font-poppins font-semibold text-5xl md:text-9xl ">COMING SOON<span class="hidden md:inline">...</span></h1>

        <a href="#" class="md:hidden">
          <img src="../static/img/icons/whatsapp-mobile-icon.png" width="81px" height="33px" alt="">
        </a>

    </div>
    
  </section>

  <div class="mb-[70px] md:mb-[130px] ">
    
  </div>

{% endblock %}