<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/output.css' %}" />
    <link rel="icon" href="{% static 'img/icons/site-logo.svg' %}">

    {% block head %} {% endblock %}
  </head>
  <body class="overflow-x-hidden">
    <!-- this div is used to store classes that will be injected by javascript
  so they can be bundled into production -->
    <div class="hidden top-[48px] min-w-[50%]"></div>

    {% include "default_routes/components/navbar.html" %}
    
    {% block body %} {% endblock %}

    {% include "default_routes/components/footer.html" %}
  </body>
</html>
