<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/output.css' %}" />
    <link rel="icon" href="{% static 'img/icons/site-logo.svg' %}">

    <link rel = "apple-touch-icon" href = "{% static 'img/icons/site-logo.svg' %}">
    <meta name="theme-color" content="#24D316">

    <script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-3PK9TPFZD1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-3PK9TPFZD1');
    </script>
    
    {% block head %} {% endblock %}
  </head>
  <body class="overflow-x-hidden">
    <!-- this div is used to store classes that will be injected by javascript
      so they can be bundled into production -->
    <div class="hidden top-[48px] min-w-[50%]"></div>
      
    <!-- whatsapp icon from elfsight -->
    <div class="elfsight-app-96bae7bc-103b-45e3-9852-2c3c89a59418 "></div>

    {% include "default_routes/components/navbar.html" %}
    
    {% block body %} {% endblock %}

    {% include "default_routes/components/footer.html" %}
    <script src="{% static 'js_bundle/animation.bundle.js' %}"></script>
  </body>
</html>
